body
{
	background-color: #eee;
	color: #000;
}

    .body-blur
    {
        color: #666 !important;
    } 

.feeds tr.odd-row  td { background-color: #fff; border-color: #fff; }
.feeds tr.even-row td { background-color: #ddd; border-color: #ddd; }
.feeds tr td.low-pro  { background-color: transparent !important; border: 0 none !important; }

    .feed_hilight_on td, .item_hilight_on { border-color: purple !important; }
    .feed_hilight_on td, .item_hilight_on .body { background-image: url("images/semi-trans-yellow.gif"); }

.feeds .age   .flag { background-color: transparent; }
.feeds .age-0 .flag { background-color: #ffff00; }
.feeds .age-1 .flag { background-color: #fdfd22; }
.feeds .age-2 .flag { background-color: #fafa44; }
.feeds .age-3 .flag { background-color: #f8f866; }
.feeds .age-4 .flag { background-color: #f5f588; }
.feeds .age-5 .flag { background-color: #f3f3aa; }
.feeds .age-6 .flag { background-color: #f0f0cc; }

.feeds tr.head th, .feeds tr.sub-head th { color: #666; }

#head
{
	background-color: #fff;
} 

.logo
{
	background-image: url("images/logo.gif");
	background-repeat: no-repeat;
	background-position: right 16px;
} 

#body
{
	background-color: #eee;
	background-image: url("images/bg-body.gif");
	background-repeat: repeat-x;
}

a#logo:hover, a#logo:active
{
    background-color: transparent;
}

ul.menu li
{
    color: #999;
}

ul.menu a
{
    color: #069;
    text-decoration: none;
	border-color: #fff;
}

    #foot ul.menu a { border-color: #eee; }

#head ul.menu li label
{
    background-color: transparent;
	background-image: url("images/semi-trans-white.gif");
}

ul.menu form
{
	border-color: transparent;
}

ul.menu a:hover, ul.menu a:active
{
	color: #000;
	border-color: #f90;
}

ul.menu a:hover, ul.menu a:active, .item .header h2 a:hover, .item .header h2 a:active, .item .header h3 a:hover, .item .header h3 a:active
{
	background-image: url("images/bg-active-anchor.gif");
	background-repeat: repeat-x;
	background-position: left top;
}

#body form.menu-search ul.menu li { color: #666; }

.item, .item .header { 
	border-color: #eee #fff #fff #fff;
}

.item .header
{
	border-color: #fff !important;
	background-color: #ccc;
	background-image: url("images/bg-private-head.gif");
	background-repeat: repeat-x;
	background-position: left top;
}

.item .body
{
	background-color: #fff;
}

.item .search-term
{
	background-color: #ff0;
	border-color: #f60;
	border-style: solid;
	padding: 0 0.25em;
}

.read-but-visible .header, .read .header
{
	background-color: #ddd;
	background-image: url("images/bg-archived-head.gif");
	background-repeat: repeat-x;
	background-position: left top;
}

.public .header, tr.public td.public
{
	background-color: #7bd !important;
	background-image: url("images/bg-public-head.gif") !important;
	background-repeat: repeat-x;
	background-position: left top;
}

.item .header a.control { border-color: red; }

.item a.link-selected
{
	color: #006;
	background-color: transparent;
	background-image: url("images/selected.gif");
	background-position: center top;
	background-repeat: no-repeat;
}

.item a.link-unselected
{
	color: #666;
	background-color: transparent;
	background-image: url("images/unselected.gif");
	background-position: center top;
	background-repeat: no-repeat;
}

.item .body a.link-select:hover, .item .body a.link-select:active
{
	background-color: #ff0;
}

.item .header a.control:hover, .item .header a.control:active { background-color: #bbb; }
.public .header a.control:hover, .public .header a.control:active { background-color: #8df; }

a, a:link
{
	color: #00c;
	background-color: transparent;
}

    .body-blur a, .body-blur a:link { color: #66c; }

a:visited
{
	color: #609;
	background-color: transparent;
}

    .body-blur a:visited { color: #C6F; }

a:hover, a:active
{
	color: #000;
	background-color: #ff0;
}

.preview-frame { border-color: #666; }

.announcement
{
    border-color: #666;
    background-color: #fff;
}

dl.cheat-sheet
{
	background-image: url("images/translucent-white.png");
	border-color: #999;
	color: #666;
}

    dl.cheat-sheet strong { color: #000; }

#kb-indicator {
	border-color: #ccc;
	background-color: #fff;
}
