body, p, div
{
	font-family: verdana, sans-serif;
	font-size: 11px;
	line-height: 16px;
}

h1, h2, h3, h4, h5, h6, dl.cheat-sheet dt
{
	font-family: helvetica, arial, verdana, sans-serif;
	font-weight: bold;
}

.read h1, .read h2, .read h3, .read h4, .read h5, .read h6 { font-weight: normal; }

h1, h2
{
	font-size: 20px;
	line-height: 16px;
	letter-spacing: -1px;
}

h3, h4, h5, h6
{
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0px;
}

.item .header a { text-decoration: none; }
.item .header a:hover, .item .header a:active { text-decoration: none; }

.item .header p, .item .header .preview-edit, .item .header .comment-form, .feeds tr th
{
    font-size: 10px;
    line-height: 12px;
	font-weight: normal;
}

.item .header .preview-edit
{
	font-family: verdana, sans-serif;
	letter-spacing: 0px;
}

.item a.link-select
{
    text-decoration: none !important;
    font-size: 10px;
    font-weight: normal !important;
}

dl.cheat-sheet dt
{
    font-size: 200%;
    line-height: 120%;
}
